extends layout

block content
  h1= title
  p
    a(class='button' href='') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      tr
        td
          a #{bookTitle}
        td #{author}
        td #{genre}
        td #{year}
